<div class="footer">
  <div class="row pt-5">
    <div class="col ">
      <p style="font-size: 30px;">digital market</p>
      <div class="socials d-flex justify-content-center mt-4">
        <span style="margin-right: 10px;"><i class="bi bi-facebook" style="font-size: 25px;"></i></span>
        <span style="margin-right: 10px;"><i class="bi bi-twitter" style="font-size: 25px;"></i></span>
        <span style="margin-right: 10px;"><i class="bi bi-google" style="font-size: 25px;"></i></span>
      </div>
    </div>
  </div>
<div class="row" style="padding-top: 100px;width: auto;padding-left: 20px;padding-right: 20px;">

  <div class="col col-lg-3 col-md-4 col-sm-6 col-12 pb-5">
    <h2>Main pages</h2>
    <p>Sell with us</p>
    <p>About us</p>
    <p>Contact us</p>
    <p>Promos</p>
    <p>Become an Ambassador</p>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 col-12 pb-5">
    <h2>Policy</h2>
    <p>Terms of Usage</p>
    <p>Privacy Polcy</p>
    <p>Return Policy</p>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 col-12 pb-5">
    <h2>Categories</h2>
    <p>Skin care</p>
    <p>Make Up</p>
    <p>Bath & Body</p>
  </div>

  <div class="col col-lg-3 col-md-12 col-sm-12 col-12 pb-5">
    <h2>Subscribe</h2>
    <p>Subscribe to our newsletter, so that you can be the first to know about new offers and promotions.</p>
    <div class="input-group">
      <input class="form-control me-2" type="search" placeholder="Enter Email Adress" aria-label="Search" style="height: 50px;">
      <button class="btn btn-outline-secondary" type="button" style="background-color: black;">
        <span style="color: #FFF;">Subscribe</span>
      </button>
    </div>
  </div>

</div>
</div>
<div class="footer-1 text-center">
  <p style="font-size: 20px;"><i class="bi bi-c-circle" style="padding-top: 20px;padding-right: 10px;"></i>2023. All Rights Reserved.</p>
</div>
