*{
  overflow: hidden;
  box-sizing: border-box;
}
.footer{
  margin-top: 200px;
  background-color: #E8E8E8;
  height: auto;
  text-align: center;
  text-transform: uppercase;
}

.footer-1{
  margin: 50px 0px 50px 0px ;
}
