<mat-drawer-container class="allSidebar" >
	<mat-drawer #drawer class="sidebar" mode="side" opened="true">
			<div class="logo" >
				<img src="../../../favicon.ico" alt="">
			</div>
			<ul> 
				<li >
					<a href="#" >
							<mat-icon class="icon">grid_view</mat-icon>
							<p  class="nav-item">
								Dashboard
							</p>
					</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/classer']"  >
							<mat-icon class="icon">engineering</mat-icon>
							<p  class="nav-item">
								Classer Product
							</p>
					</a>
				</li>
				<li>
					<a class="close_sidebar" (click)="OpenedSideBar=!OpenedSideBar">
							<mat-icon class="icon">
								{{OpenedSideBar ? 'arrow_left' : 'arrow_right'}}
							</mat-icon>
					</a>
				</li>
			</ul>
	</mat-drawer>
	<div class="content" >
		<ng-content></ng-content>
	</div>
</mat-drawer-container>