
<div class="header">
  <div class="title">
    <p>Fournisseur</p>
  </div>
  <div style="margin-top: -10px;">
    <div class="example-button-container d-flex align-items-center gap-2">
      <div style="color:#fff;font-size:15px;">
        Wallet
      </div>
      <button mat-mini-fab color="primary" >
        {{ wallet }}
      </button>
      <div style="color:#fff;font-size:15px;">
        TND
      </div>
    </div>
  </div>
  <div class="right-side">
    <div>
      <p class="title">{{user?.firstName}}</p>
    </div>
    <div class="action">
      <button mat-button [matMenuTriggerFor]="menu">
        <img style="border-radius: 25px;" src="../../../favicon.ico" alt="" width="30px">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  [routerLink]="['/ContractComponent']">
          <mat-icon>description</mat-icon>Contract
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>Setting
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-menu>
    </div>
  </div>
</div>
