<div class="SignUp" >
    <div class="content" data-aos="zoom-in">
        <form (ngSubmit)="SignUp()" [formGroup]="SignUpForm" class="rounded shadow-lg p-5">
            <p class="titre text-center mb-5">Complete Your Registration {{user?.firstName}}</p>
            <!-- <div class="row mb-2 text-center">
                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter FirstName</mat-label>
                        <input matInput [formControl]="FirstNameForm">
                        <mat-icon matSuffix style="color:#bda179" >
                            {{FirstNameForm.invalid ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied'}}
                        </mat-icon>
                        <mat-error *ngIf="FirstNameForm.invalid">{{getFirstNameFormError()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 mb-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter LastName</mat-label>
                        <input matInput [formControl]="LastNameForm">
                        <mat-icon matSuffix style="color:#bda179">
                            {{LastNameForm.invalid ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied'}}
                        </mat-icon>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="LastNameForm.invalid">{{getLastNameFormError()}}</mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <div class="row mb-2 text-center">
                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Email</mat-label>
                        <input matInput [formControl]="EmailForm">
                        <mat-icon matSuffix style="color:#bda179">
                            {{EmailForm.invalid ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied'}}
                        </mat-icon>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="EmailForm.invalid">{{getEmailFormError()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 mb-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Password</mat-label>
                        <input matInput [type]="visibility ? 'text' :'password'"  [formControl]="passwordForm">
                        <mat-icon matSuffix style="color:#bda179" (click)="visibility=!visibility">
                            {{visibility ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="passwordForm.invalid">{{getpasswordFormError()}}</mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row mb-2 text-center">
                <div class="col-lg-6">
                    <label id="example-radio-group-label">Your Gender</label>
                    <br>
                    <mat-radio-group aria-label="Select an option"  [formControl]="SexForm">
                        <mat-radio-button value="male"  color="primary">Male</mat-radio-button>
                        <mat-radio-button value="female" >Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="SexForm.invalid">{{getSexFormError()}}</mat-error>
                </div>
                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Phone</mat-label>
                        <input matInput [formControl]="NumTlfForm">
                        <mat-icon matSuffix style="color:#bda179">
                          {{NumTlfForm.invalid ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied'}}
                        </mat-icon>
                        <mat-error *ngIf="NumTlfForm.invalid">{{getNumTlfFormError()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2 text-center">
                <div class="col-lg-12">
                    <mat-form-field class="w-100"  appearance="outline">
                        <mat-label>Select Role </mat-label>
                        <mat-select  [(value)]="role" [formControl]="RoleForFrom" >  
                          <mat-option value="Client">Client</mat-option>
                          <mat-option value="Supplier">Supplier</mat-option>
                        </mat-select>
                        <mat-error *ngIf="RoleForFrom.invalid">{{geRoleForFromError()}}</mat-error>
                    </mat-form-field>
                 </div>
                <div class="col-lg-12" *ngIf="role === 'Supplier'">
                    <label >Your Cin Photo</label>
                    <div class="mb-2">
                        <input class="form-control"  type="file"  (change)="onFileChanged($event)">
                        <mat-error *ngIf="imageError!=''">{{imageError}}</mat-error>
                    </div>
                </div>
            </div>
            <div class="text-center mb-2">
                <button mat-raised-button   color="warn">
                    <mat-icon>app_registration</mat-icon>
                         Register
                  </button>
            </div>
            <div class="text-center ">
                <small>Already Have An Account  &nbsp; <a href="#">Login</a></small>
            </div>
        </form>
    </div>
</div>