<div class="animation">
  <div class="container-anim d-flex align-content-center">
    <h1 class="" style="font-size: 20px;">free palestine</h1>
    <div class="container-flag mt-2">
      <div class="red"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="green"></div>
    </div>
  </div>
  </div>

<nav class="navbar navbar-expand-lg" style="height: 90px;background-color: #F0F0F0;">
  <div class="container-fluid">

    <button class="navbar-toggler" mat-button [matMenuTriggerFor]="aboveMenu" >
      <i class="bi bi-list" style="font-size: 35px"></i>
     <mat-menu #aboveMenu="matMenu" yPosition="above">
       <button mat-menu-item routerLink="/cart"> <i class="bi bi-cart-fill menu-boredered"></i>Cart</button>
       <button mat-menu-item><i class="bi bi-person-circle menu-boredered"></i>User</button>
       <button   mat-menu-item  routerLink="/auth/signup/Supplier" ><i  class="bi bi-shop menu-boredered"></i>Become vendor</button>
       <mat-divider></mat-divider>
       <mat-list role="list">
         <mat-list-item ><span class="list-title" style="margin-right: 10px;">Categories</span><i class="bi bi-arrow-down" style="font-size: 20px;"></i> </mat-list-item>
         <mat-list-item role="listitem" routerLink="/categories/{{item['id']}}"  *ngFor="let item of categories"> <button mat-button class="list-items">{{item['nom']}}</button></mat-list-item>
       </mat-list>
     </mat-menu>
 </button>
 <a class="navbar-brand" routerLink="/">DIGITAL MARKET</a>

    <div class="input-group">
      <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search" style="height: 50px;">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul>
        <li class="bordered"><i class="bi bi-cart-fill"></i>Cart</li>
        <li class="bordered" routerLink="/auth/signup/Supplier"><i class="bi bi-shop"></i>Become vendor</li>
        <li  [matMenuTriggerFor]="auth"><i class="bi bi-person-circle" ></i>User</li>
        <mat-menu #auth="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Log In</span>
          </button>
          <button mat-menu-item routerLink="/auth/signup/Client">
            <mat-icon>account_box</mat-icon>
            <span >Sign Up</span>
          </button>
        </mat-menu>
      </ul>
    </div>
    </div>
</nav>

<div class="container nav2">
  <li class="categories d-none d-lg-block">All Categories <i class="bi bi-arrow-down-short" ></i></li>
  <li *ngFor="let item of categories" routerLink="/categories/{{item['id']}}" class="categories d-none d-lg-block" >{{item['nom']}}</li>
</div>
