<div class="animation">
  <div class="container-anim d-flex align-content-center">
    <div class="container-flag mt-2 " style="margin-right: 20px;">
      <div class="red"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="green"></div>
    </div>
    <h1 class="" style="font-size: 20px;">free palestine</h1>
    <div class="container-flag mt-2">
      <div class="red"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="green"></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg " style="height: 120px;background-color: #F0F0F0;">
  <div class="container-fluid">

    <button class="navbar-toggler" mat-button [matMenuTriggerFor]="aboveMenu">
      <i class="bi bi-list" style="font-size: 35px"></i>

      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="/cart"> <i class="bi bi-cart-fill menu-boredered"></i>Cart </button>
        <button mat-menu-item *ngIf="!AuthServiceService.isAuth"><i
            class="bi bi-person-circle menu-boredered"></i>User</button>
        <button *ngIf="!AuthServiceService.isAuth" mat-menu-item (click)="signup()"><i class="bi bi-shop menu-boredered"></i>Become
          vendor</button>
        <mat-divider></mat-divider>
        <mat-list role="list">
          <mat-list-item><span class="list-title" style="margin-right: 10px;">Categories</span><i
              class="bi bi-arrow-down" style="font-size: 20px;"></i> </mat-list-item>
          <mat-list-item role="listitem" routerLink="/categories/{{item['id']}}" *ngFor="let item of categories">
            <button mat-button class="list-items">{{item['nom']}}</button></mat-list-item>
        </mat-list>
      </mat-menu>
    </button>
    <a class="navbar-brand" routerLink="/">DIGITAL MARKET</a>
     <mat-menu #aboveMenu="matMenu" yPosition="above">
       <button mat-menu-item routerLink="/cart"> <i class="bi bi-cart-fill menu-boredered"></i>Cart </button>
       <button mat-menu-item *ngIf="!AuthServiceService.isAuth"><i class="bi bi-person-circle menu-boredered"></i>User</button>
       <button *ngIf="!AuthServiceService.isAuth"   mat-menu-item  (click)="signup()" ><i  class="bi bi-shop menu-boredered"></i>Become vendor</button>
       <mat-divider></mat-divider>
       <mat-list role="list">
         <mat-list-item ><span class="list-title" style="margin-right: 10px;">Categories</span><i class="bi bi-arrow-down" style="font-size: 20px;"></i> </mat-list-item>
         <mat-list-item role="listitem" routerLink="/categories/{{item['id']}}"  *ngFor="let item of categories"> <button mat-button class="list-items">{{item['nom']}}</button></mat-list-item>
       </mat-list>
     </mat-menu>



    <div class="input-group">
      <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search"
        style="height: 50px;">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="pt-4">
        <li class="bordered" routerLink="/cart" [matBadge]="nbrArticle"><i class="bi bi-cart-fill"></i>Cart</li>
        <li *ngIf="!AuthServiceService.isAuth" class="bordered" (click)="signup()"><i class="bi bi-shop"></i>Become vendor</li>
        <li [matMenuTriggerFor]="auth" *ngIf="!AuthServiceService.isAuth"><i class="bi bi-person-circle"></i>User</li>
        <li [matMenuTriggerFor]="user_menu" class="bordered" *ngIf="AuthServiceService.isAuth"
          class="d-block link-dark text-decoration-none">
          <div class="d-flex align-items-center mx-2 gap-2">
          <img *ngIf="user.photo!=null;else name" src="../../../assets/ImagesSignup/Digital Market.png" alt="mdo" width="36" height="30"
            class="rounded-circle">
            <ng-template #name>
              <div class="circle mx-1">
                <span class="initials">
                  {{user?.firstName?.charAt(0)  + "" + user?.lastName?.charAt(0)}}
                </span>
              </div>
            </ng-template>
            <div>
              {{user?.firstName}}
            </div>
          </div>
        </li>
        <mat-menu #user_menu="matMenu">
          <button mat-menu-item routerLink="/listeCommandesClient">
            <mat-icon>credit_card_gear</mat-icon>
            <span>List Command</span>
          </button>
          <button mat-menu-item routerLink="/CommandeLocation">
            <mat-icon>pin_drop</mat-icon>
            <span>Location Command</span>
          </button>
          <button mat-menu-item routerLink="/FavoriteList">
            <mat-icon>favorite</mat-icon>
            <span>WishList</span>
          </button>
          <button mat-menu-item routerLink="/editProfile">
            <mat-icon>supervised_user_circle</mat-icon>
            <span >Profile</span>
          </button>
           <button mat-menu-item (click)="Logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <mat-menu #auth="matMenu">
          <button mat-menu-item (click)="Login()">
            <mat-icon>account_circle</mat-icon>
            <span>Log In</span>
          </button>
          <button mat-menu-item (click)="signup()">
            <mat-icon>account_box</mat-icon>
            <span>Sign Up</span>
          </button>
        
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>

<div class="container nav2">
  <li class="categories d-none d-lg-block">All Categories <i class="bi bi-arrow-down-short"></i></li>
  <li *ngFor="let item of categories" routerLink="/categories/{{item['id']}}" class="categories d-none d-lg-block">
    {{item['nom']}}</li>
</div>