.cart{
  background-color: #ffffff;
  margin-top: 5vh;
  padding-top: 2vh;
  height: auto;
}
body{
  overflow: hidden;
  box-sizing: border-box;
}
.header-text{
  font-size: 30px;
}
.header-text-2{
  font-size: 15px;
  color: #007195;
  cursor: pointer;
}
