<app-fournisseur-side-bar-comp>
    <app-fournisseur-navbar-comp></app-fournisseur-navbar-comp>
    <div class="contract">
          <p class="text-center titre">
             Fill Contract
          </p>
          <div class="form">
                
          </div>
          <div class="sketch-container">
              <div id="sketch-holder"></div>
          </div>
   </div>
   <button (click)="captureSignature()">Changer tobase64</button>
   <img [src]="image" alt="">
</app-fournisseur-side-bar-comp>