<mat-card style="height: fit-content;text-align: center;margin-bottom: 20px;margin-top: 20px; max-width: min-content;" class="card" *ngIf="products">
  <img src="../../../assets/product.jfif" height="150px">
  <mat-card-header class="py-3 product-name comic justify-content-center">{{products['name']}}</mat-card-header>
  <mat-card-content class="py-1 comic category">{{products['category']['nom']}}</mat-card-content>
  <mat-card-content class="py-1 comic price" style="color: rgb(17, 150, 17);">{{products['prix']}} TND</mat-card-content>
  <div class="d-flex justify-content-center">
    <button mat-flat-button class="buy" style="margin-top: 5px;width: 60%;border-radius: 25px;">Buy</button>
    <button mat-icon-button (click)="toggleFavorite()" class="">
      <mat-icon [style.color]="isFavorite? 'red' : 'gray'" mat-fab>favorite</mat-icon>
    </button>
  </div>
  <div class="new" *ngIf="new">
    <p>new product</p>
  </div>
</mat-card>
