
<div cdkDropListGroup class="classer_product">
  <div >
    <div class="example-container product">
      <h2 class="text-center">Products</h2>
      <div
        cdkDropList
        [cdkDropListData]="Products"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of Products" cdkDrag>
          <img *cdkDragPreview src="../../../favicon.ico">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title> {{item['name']}}</mat-card-title>
              <mat-card-subtitle>Qte : {{item['quantite']}}</mat-card-subtitle>
              <mat-card-subtitle>Prix : {{item['prix']}} Dt</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div>
  <h2 class="text-center mt-3">List Categorie</h2>
  <div class="example-container category" *ngFor="let itemCat of Categories">
    <p class="text-center mt-2">{{itemCat['nom']}}</p>
    <div
      cdkDropList
      [cdkDropListData]="Categories"
      class="example-list"
      (cdkDropListDropped)="drop($event,itemCat)">
      <div class="example-box " *ngIf="itemCat['Products']=='';else elseBlock">
        <div class="text-center">
          No Product
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="example-box"  *ngFor="let item of itemCat['Products']">
          {{item['name']}}
        </div>
      </ng-template>
    </div>
  </div>
</div>

</div>
