
<app-side-bar-comp>
  <app-navbar-comp ></app-navbar-comp>
  <div cdkDropListGroup class="classer_product" data-aos="fade-right">
    <div class="product" >
      <div class="example-container  mt-3 mx-2" >
        <h2 class="text-center">Products</h2>

        <div class="add-button">
          <button mat-fab color="primary" (click)="openPopup()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <!-- add category popup page -->
        
        <div class="popup" [class.open]="isPopupOpen">
          <div class="popup-content">
            <form (ngSubmit)="AddCategory()">
  
              <h1 style="text-align: center;color: #272343;"><strong>Add Category Page</strong></h1>
              
              <div class="form-group">
                <label for="title">Name </label>
                <input type="text" [(ngModel)]="Categname" name="name" id="title" class="form-controll"/>
              </div>
              
              
              <div class="form-group file-area">
                    <label for="images">Image <span>The maximum allowable size for your image is 4 MB</span></label>
                <input type="file"  name="image" id="images" required="required" multiple="multiple"  (change)="onInputChanged($event)"/>
                <div class="file-dummy">
                  <div class="success" *ngIf="!fileTooLarge">Your image uploaded successfully</div>
                  <div class="default" *ngIf="fileTooLarge">Please select some files</div>
                </div>
              </div>
              
              <div class="form-group">
                <button type="submit">Add Category</button>
              </div>
              
            </form>
          </div>
          <button class="close" (click)="closePopup()">Close</button>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="Products"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="search">
            <mat-form-field appearance="fill">
              <mat-label>Search</mat-label>
              <input [(ngModel)]="Search"  (input)="serachWithProduct()" matInput placeholder="Search By Nom">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          
          <div  *ngIf="Products=='';else ProductExiste">
              <div class="NotFoundProduct">
                <p>
                    No Product
                </p>
                <p>
                  <mat-icon class="text-dark">search_off</mat-icon>
                </p>
              </div>
          </div>
          <ng-template #ProductExiste>
            <div class="mt-5">
              <div class="example-box " *ngFor="let item of Products" cdkDrag>
              <img *cdkDragPreview width="150px" [src]="'http://localhost:8888/PRODUCT-SERVICE/products/images/'+item['imageProduct']">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title class="titre_card"> {{item['name']}}</mat-card-title>
                    <mat-card-subtitle>Qte : {{item['quantite']}}</mat-card-subtitle>
                    <mat-card-subtitle>Prix : {{item['prix']}} Dt</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions align="end" style="margin-top: -31px !important;">
                    <mat-icon class="text-danger mx-1" (click)="openDialogAlert(item)">delete</mat-icon>
                    <mat-icon class="text-primary" (click)="openDialog(item)">info</mat-icon>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="category" style="max-height:750px;overflow-y: scroll;width: 100%;">
    <h2 class="text-center mt-3 mb-5 py-2">List Categories</h2>
    <div *ngIf="Categories=='';else catgShow">
        No Categories
    </div>
    <ng-template #catgShow>
      <div class="example-container category" *ngFor="let itemCat of Categories">
        <p class="text-center mt-2 title_cat">{{itemCat['nom']}}</p>
        <div
          cdkDropList
          [cdkDropListData]="Categories"
          class="example-list"
          (cdkDropListDropped)="drop($event,itemCat)">
          <div class="example-box" *ngIf="itemCat['Products']=='';else elseBlock">
            <div>
              No Product
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="example-box"  *ngFor="let item of itemCat['Products']">
              <div class="card-product">
                <div class="titre_card">
                  {{item['name']}}
                </div>
                <div>
                  <mat-icon class="text-primary mx-2" (click)="openDialog(item)">info</mat-icon>
                  <mat-icon class="text-info" (click)="LibererProduct(item['id'])">recycling</mat-icon>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
  </div>
</app-side-bar-comp>
