@import '~@fortawesome/fontawesome-free/css/all.css';
* {
  font-family: "Quicksand", sans-serif;
}

section {
  max-width: 1180px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 4rem 0 0 0;
}

.list {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
}

.list > .product {
  width: 200px;
  float: left;
  height: 300px;
  background: #fff;
  margin: 1%;
  position: relative;

  > div {
    text-align: center;
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
  }

  &:hover > div {
    position: absolute;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
  }

  > img {
    margin: 0 auto;
    display: block;
    transition: all 0.5s;
    border-radius: 4px;
  }

  &:hover > img {
    filter: blur(3px) saturate(1.5);
  }

  > div > h2 {
    border-bottom: 1px solid #818181;
    padding: 0 0 1rem;
  }

  .descr {
    font-size: 0.8rem;
    padding: 2rem;
    line-height: 1.2rem;
    font-weight: 600;
  }

  > div > a > p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    line-height: 2.4rem;
    background: #000;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto !important;
    transition: all 0.2s;
  }

  &:hover > div > a > p {
    filter: brightness(.9);
    letter-spacing: 4px;
  }

  .delete-button {
    position: absolute;
    top: 10px; 
    right: 10px;
    background: rgb(235, 51, 51); 
    border: none;
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    z-index: 1;
  }
}
