<div class="tab-show container ">
  <h1 class="text-center"> {{ type }} Products </h1>
  <div class="row gap-3">
    <div class="card col d-flex justify-content-center" style="width: 200px !important;"
      *ngFor="let product of products; let i = index;">
      <div class="card-image">
        <img src="../../../assets/bny_mellon_logo.jpg" style="height: 100px; width: 100px;" alt="product-image"
          class="thumbnail-image" />
      </div>
      <div class="card-header">
        <h2 class="text-center">{{ product['name'] }}</h2>
      </div>
      <div class="card-content text-center">
        <p>Price: {{ product['prix'] }}</p>
        <p>Quantity: {{ product['quantite'] }}</p>
        <p>Status: {{ product['status']==1 ? 'accepted' : 'pending' }}</p>
      </div>
      <div class="card-actions text-center">
        <button class="btn" (click)="showProductInfo(product)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>

    <app-info-produit [visible]="modalVisible" [Product]="Product" (hide)="hideModal($event)"
      (updateProducts)="updateProducts($event)"></app-info-produit>
  </div>
</div>