<mat-divider></mat-divider>
<div class="container new-arrivals " style="margin-top: 70px;margin-bottom: 100px;">
  <div class="d-flex justify-content-between align-items-center row">
    <div class="text col-12 col-sm-6 col-xl-10 col-lg-9 p-2">
      <span class="title" style="padding-top: 20px;">Reviews</span>
    </div>
  </div>
</div>
<div class="container  mt-5">
  <div class="review mb-4">
    <div class="review-card" style="width: 400px">
      <div class="row" style="width: 100%;">
        <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
          <img src="../../assets/product.jfif" width="70px" height="70px" style="border-radius: 50%;">
        </div>
        <div class="col col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9" style="padding-top: 8px;">
          <div class="font" style="width: 100%;font-size: 15px;">Ghassen ahmed</div>
          <div class="" style="margin-top: 12px;font-size:13px ;">5.0<i class="bi bi-star-fill" style="margin-left: 10px;color: rgb(237, 237, 22);"></i></div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col col-12" style="font-family: sans-serif;letter-spacing: 1.5px;word-spacing: 2px;font-size: 13px;text-decoration: none !important;">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum atque eum dicta rerum repudiandae explicabo enim excepturi corrupti odio? Ducimus.
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

</div>
