<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalMarket"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".signup.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".signup.ForgotPassword"
            android:exported="true">
        </activity>
        <activity
            android:name=".signup.VerifyMail"
            android:exported="true"></activity> <!-- Remove duplicate declaration -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DigitalMarket">


            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:name=".signup.SignUpStepOne"
            android:exported="true" />
        <activity
            android:name=".signup.signup_second_step"
            android:exported="true" />
        <activity
            android:name=".signup.signupstep_three"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProductDetails" />
        <activity android:name=".FournisseurAddProduct" />
        <activity android:name=".fournisseur_profile" />
        <activity
            android:name=".IntroScreen1"
            android:exported="true" />
        <activity android:name=".IntroScreen2" />
        <activity android:name=".IntroScreen3" />
        <activity android:name=".IntroScreen4" />
        <activity android:name=".FournisseurDashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listProduct.ListProduct"
            android:exported="true" />
        <activity
            android:name=".Client.DashboardClient"
            android:exported="true"
            android:theme="@style/Theme.DigitalMarket" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>