<div>
  <div class="container ">
    <h1 class="color-secondary"> Gerer Produit</h1>
    <mat-tab-group>
      <mat-tab label="accepted" color="green">

        <app-accepted-products [type]="accepted"></app-accepted-products>
      </mat-tab>
      <mat-tab label="pending" color="orange">

        <app-accepted-products [type]="pending"></app-accepted-products>
      </mat-tab>
      <mat-tab label="refused" color="red">
        <app-accepted-products [type]="refused"></app-accepted-products>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>