<div class="container mt-5">
  <div class="row">
    <h3 style="color: rgb(97, 96, 96);">Accueil   >  catalogue  > <span style="border-bottom: #919191 solid 2px;">{{category}}</span></h3>
  </div>
  <div class="row">


  <!-- ------------------------------------filtre --------------------------------->
    <div class="col col-xl-4  col-lg-4 col-md-12 col-sm-12 col-12" >

      <div class="filtre-card mt-4">
        <mat-card style="border: solid 2px #F2F2F2;">
          <mat-card-header class="title"> <span style="margin-right: 70%;">Filter by</span><mat-icon>expand_more</mat-icon></mat-card-header>

          <li class="list-group-item d-flex justify-content-between align-items-start py-4">
            <div class="ms-2 me-auto">
              <div class="py-2 uppercase" style="font-size: 15px;font-weight: normal;"><span>Name Product </span></div>

              <div class="inputs d-flex mt-1">
                <input  [(ngModel)]="search" type="text" style="margin-right: 50px;border-radius: 10px;height: 30px;border: #919191 2px solid;">
                <button (click)="getProductsByCategoryId()" mat-mini-fab color="light" style="box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);">
                  <mat-icon>search</mat-icon>
                </button>
              </div>

            </div>

          </li>

          <li class="list-group-item d-flex justify-content-between align-items-start py-4">
            <div class="ms-2 me-auto">
              <div class="py-2 uppercase" style="font-size: 15px;font-weight: normal;">Price</div>

              <div class="inputs d-flex mt-1">

                <div class="input-min d-flex" style="margin-right: 5px;">
                  <label for="" class="uppercase mt-2 px-1">Min :</label>
                  <input type="number" [(ngModel)]="min" style="border-radius: 10px;height: 30px;border: #919191 2px solid;width: 50px;margin-top: 5px;">
                </div>

                <div class="input-min d-flex" style="margin-right: 5px;">
                  <label for="" class="uppercase mt-2 px-1">Max :</label>
                  <input type="number" [(ngModel)]="max" style="border-radius: 10px;height: 30px;border: #919191 2px solid;width: 50px;margin-top: 5px;">
                </div>

                <button mat-mini-fab color="light" (click)="getProductsByCategoryId()" style="box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);">
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
              <div class="py-2 uppercase mt-3" style="font-size: 15px;font-weight: normal;">
                <button mat-mini-fab (click)="clearInputs()"  style="box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);display: flex;">

                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </li>
        </mat-card>
      </div>
    </div>

    <!-- ------------------------------------Product list --------------------------------->
    <div class="col col-xl-8  col-lg-8 col-md-12 col-sm-12 col-12">

      <div class="mt-3 mb-5 d-flex">
        <h2 class="uppercase" style="color: rgb(36, 36, 36); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif">{{category}}</h2>
        <div class="float-end ms-auto p-2">
          <button class="" mat-mini-fab color="accent" (click)="previousPage()" [disabled]="page === 0" style="box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);margin-right: 5px">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>

          <button color="accent" mat-mini-fab (click)="nextPage()" [disabled]="page==count_page-1 || products.length==0" style="box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>


      <!-- -------------------------product card ---------------------------->
      <div class="row">

        <div class="col col-12 col-sm-6  d-flex justify-content-center" *ngFor="let item of products">
          <app-card [products]="item" [new]="false"></app-card>
        </div>

      </div>
    </div>
  </div>


</div>
