<div class="card-cart container-fluid">
  <ng-container #elseBlock *ngIf="products">
    <ng-container *ngFor="let product of products">
      <div class="x" style="width: 100%;margin: 0px 10px 20px 0px;padding: 20px;">
        <button mat-icon-button color="warn" class="float-end" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-x" style="font-size: 30px;"></i>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this product ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xl-4">
          <img src="../../../assets/ecommerce.jpg" class="img-product">
        </div>
        <div class="col col-xl-8 d-flex flex-column py-3">

          <div class="description py-2">
            <p style="font-size:15px ;font-weight: 700;">{{product.name}}</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima harum similique animi assumenda voluptate, itaque totam ab beatae nesciunt minus!
          </div>

          <div class="price py-1">
            {{product.prix}} TDN
          </div>

          <div class="status py-1" style="color: #007652;" *ngIf="product.status==1">
           In stock
          </div>
          <div class="status-false" *ngIf="product.status!=1">
            Out of stock
          </div>

          <div class="row actions d-flex py-2 justify-content-between" style="margin-top: 40px;">

            <div class="col qte col-sm-12 col-md-12 col-12 col-lg-6 col-xl-6">
              <button class="qte" mat-flat-button style="padding: 0;">
                <i class="bi bi-dash-lg" style="font-size: 16px;font-weight: bold;color: black;" (click)="moinsQte(product)"></i>
              </button>
              <input type="number" style="width: 35px;margin-top: 4px;" [(ngModel)]="product.quantity">
              <button class="qte"  mat-flat-button style="padding: 0;">
                <i class="bi bi-plus-lg" style="font-size: 16px;font-weight: bold;color: black;" (click)="plusQte(product)"></i>
              </button>
            </div>

            <div class="col update col-sm-12 col-md-12 col-12 col-lg-6 col-xl-6" style="margin-top: 5px;">
              <span (click)="updateQte(product)"  style="color: #007195;padding-left: 15px;padding-right: 15px;cursor: pointer;" >Update Qte</span>
            </div>
          </div>
          <div class="row mt-2" style="width: 100%;">
            <h3 class="float-end">Total product price:  {{product.prix * product.quantity}} TND</h3>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
  <div class="no-product d-flex justify-content-center pt-5" *ngIf="!products">
    <h3 style="font-size: 20px;">No items have been saved for later</h3>
  </div>

</div>
