
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{Product['name']}}</mat-card-title>
    </mat-card-header>
    <img height="280px"  [src]="'http://localhost:8888/PRODUCT-SERVICE/products/images/'+Product['imageProduct']" alt="Photo of a Shiba Inu">
    <mat-card-content class="text-center mb-2">
      <p>
        {{Product['description']}}
      </p>
      <p>
        Prix :{{Product['prix']}}
      </p>
      <p>
        Quantite :{{Product['quantite']}}
      </p>
    </mat-card-content>
    <button align="end" mat-button color="primary" (click)="dialogRef.close()">Close</button>
  </mat-card>

