<app-fournisseur-side-bar-comp>
  <app-fournisseur-navbar-comp></app-fournisseur-navbar-comp>
    <div class="dashboard container mt-4" style="margin-left: 30px;flex-direction: column;">
      <div class="row">
        <p style="font-size: 20px;color: #1C4E80;font-weight: 500;"> <i class="bi bi-plus-lg" style="font-weight: bold;"></i> Add Product</p>
      </div>
      <form [formGroup]="AddProductForm" (ngSubmit)="AddProduct()" ENCTYPE="multipart/form-data">
        <div class="row mb-2  mt-5">
          <div class="col-lg-6">
              <mat-form-field appearance="outline" class="inputs">
                  <mat-label>Product Name</mat-label>
                  <input matInput [formControl]="NameForm">
                  <mat-icon matSuffix>

                  </mat-icon>
                  <mat-error *ngIf="NameForm.invalid">{{getNameFormError()}}</mat-error>
              </mat-form-field>
          </div>
          <div class="col-lg-6 mb-2">
            <mat-form-field appearance="outline" class="inputs">
              <mat-label>Product Price</mat-label>
              <input matInput [formControl]="PrixForm">
              <mat-icon matSuffix>
              </mat-icon>
              <mat-error *ngIf="PrixForm.invalid">{{getPrixFormError()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="inputs">
                <mat-label>Product Description</mat-label>
                <textarea matInput placeholder="" [formControl]="DescriptionForm"></textarea>
                <mat-icon matSuffix>

                </mat-icon>
                <mat-hint></mat-hint>
                <mat-error *ngIf="DescriptionForm.invalid">{{getDescriptionFormError()}}</mat-error>
            </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="inputs">
                <mat-label>Product Quantity</mat-label>
                <input matInput [formControl]="QuantiteForm">
                <mat-icon matSuffix>
                </mat-icon>
                <mat-error *ngIf="QuantiteForm.invalid">{{getQuantiteFormError()}}</mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-6">
            <div class="input-group d-flex" style="flex-direction: column;">
              <input class="form-control inputs"  type="file"  (change)="onFileChanged($event)" style="width: auto;">
              <mat-error *ngIf="imageError!=''" class="mt-2 img-err">{{this.imageError}}</mat-error>
            </div>
          </div>
          <div class="col-lg-6 mt-1 d-flex justify-content-center">
            <button mat-raised-button   color="warn" type="submit">
                <mat-icon>app_registration</mat-icon>
                    Add
            </button>
          </div>
        </div>
      </form>
    </div>

</app-fournisseur-side-bar-comp>
