

.Content{
    background-color: #f1eaf1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    div{
        text-align: center;
        font-size: 18px;
    }
}