<app-side-bar-comp>
  <app-navbar-comp></app-navbar-comp>
  <div class="container">
    <h1>gerer suppliers</h1>
    <mat-toolbar style="width: 80%; margin-left: 10%; margin-top: 5%; display: flex; flex-direction: column"
      color="none">
      <mat-toolbar-row
        style="height: 100%; border-radius: 20px; background-color: transparent; justify-content: space-between;">

        <mat-form-field class="example-filter-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex. Supplier Name" [formControl]="searchControl">
        </mat-form-field>

        <mat-form-field class="example-filter-field">
          <mat-label>Status</mat-label>
          <mat-select [formControl]="statusControl">
            <mat-option value="all">All</mat-option>
            <mat-option value="accepted">Accepted</mat-option>
            <mat-option value="refused">Refused</mat-option>
            <mat-option value="pending">Pending</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-filter-field">
          <mat-label>Before Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>

    <h1 class="alert alert-danger mt-5 text-center" style="width: 80%;margin-left: 10%;" *ngIf="suppliers==null">there's
      no
      Suppliers</h1>


    <table class="table mt-3" *ngIf="suppliers!=null">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Date</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Sex</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="suppliers!=null">
        <tr *ngFor="let supplier of suppliers; let i = index;">
          <td>
            <img [src]="gravatarUrl" alt="" height="40px" width="40px" style="border-radius: 25%;">
          </td>
          <td>{{supplier['firstName']}}</td>
          <td>{{supplier['lastName']}}</td>
          <td>{{ supplier.created_at | date: 'dd/mm/yyyy' }}</td>
          <td>{{supplier['email']}}</td>
          <td>{{supplier['numTlf']}}</td>
          <td>{{supplier['sexe']}}</td>

          <td *ngIf="supplier.status==0" class="text-warning">Pending</td>
          <td *ngIf="supplier.status==1" class="text-success">accepted</td>
          <td *ngIf="supplier.status==2" class="text-danger">Refused</td>
          <td>

            <button mat-button appearance="legacy" class="shadow" (click)="AcceptSupplier(supplier.id)"
              *ngIf="supplier.status != 1">
              <mat-icon style="color: green" *ngIf="!loading">check</mat-icon>
              <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner>
            </button>

            <button mat-button appearance="legacy" style="margin-left: 5%;" class="shadow" *ngIf="supplier.status != 2"
              (click)="RefuseSupplier(supplier.id)">
              <mat-icon color="warn" *ngIf="!loading">close</mat-icon>
              <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</app-side-bar-comp>