<div>
  <div class="container ">
    <h1 class="color-secondary"> Gerer Produit</h1>

    <div class="tab-show container ">
      <div class="row gap-3">
        <div class="card col justify-content-center" style="width:200px!important">
          <div class="card-image">
            <img src="../../../assets/bny_mellon_logo.jpg" height="100px" width="100px" alt="product-image"
              class="thumbnail-image" />
          </div>
          <div class="card-header">
            <h2 class="text-center">product 1</h2>
          </div>
          <div class="card-content">
            <p>Price </p>
            <p>quanttity</p>
            <p>status</p>
          </div>
          <div class="card-actions">
            <button class="btn"><mat-icon>info</mat-icon></button>
          </div>
        </div>
        <div class="card col">
          <div class="card-header">
            <h2 class="text-center">product 1</h2>
          </div>
          <div class="card-content">
            <p>Price </p>
            <p>quanttity</p>
            <p>status</p>
          </div>
          <div class="card-actions">
            <button class="btn"><mat-icon>info</mat-icon></button>
          </div>
        </div>
        <div class="card col">
          <div class="card-header">
            <h2 class="text-center">product 1</h2>
          </div>
          <div class="card-content">
            <p>Price </p>
            <p>quanttity</p>
            <p>status</p>
          </div>
          <div class="card-actions">
            <button class="btn"><mat-icon>info</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>