<div class="carousel-container d-sm-none d-none d-md-block" *ngIf="images && images.length>0">
  <img
  *ngFor="let image of images ; let i = index"
  [src]="image.imageSrc" [alt]="image.imageAlt"
  [ngClass]="{'image-active': selectedIndex ===i}"

  >

  <button *ngIf="controls"  class="btn-carousel btn-prev">
     <i class="bi bi-caret-left-square-fill icon-carousel icon-prev" (click)="onPrevClick()"></i>
  </button>

  <button *ngIf="controls"  class="btn-carousel-next btn-next">
    <i class="bi bi-caret-right-square-fill icon-carousel icon-next" (click)="onNextClick()"></i>
 </button>
 <div class="divider">
    <div class="carousel-dot-container" *ngIf="indicators">
      <span
      *ngFor="let dot of images ; let i = index"
      class="dot"
      [ngClass]="{'active': selectedIndex === i }"
      (click)="selectImage(i)"
      >
      </span>
    </div>
 </div>
</div>

<section>
  <!-- --------------------------- New arrivals -------------------------->
<div class="container new-arrivals" style="margin-top: 70px;">

  <div class="d-flex justify-content-between align-items-center row">
    <div class="text col-12 col-sm-6 col-xl-10 col-lg-9 p-2">
      <span class="title">New arrivals</span>
      <span class="mini-title" style="padding-top: 20px;">see all</span>
    </div>
  </div>

</div>


<div class="procucts d-flex" style="width: 100%;">
  <div class="products-paginate container " style="margin-top: 70px;">
    <div class="row2 row flex-wrap">
      <div class="col2 col-md-6 col-sm-12 col-12 col-xl-4 col-lg-6 d-flex justify-content-center" style="margin-bottom: 40px;position: relative;" *ngFor="let item of products">
        <app-card [products]="item" [new]="true" [recommandations]="false"></app-card>
      </div>
    </div>
  </div>
</div>

 <div class="container ads d-none d-sm-block">
  <p class="" style="font-size: 30px;margin-bottom: 30px;padding-top: 40px;font-weight:bold;padding-bottom: 20px;">50% off All Items</p>
  <button class="" style="padding: 10px;background-color: #fff;">Shop now</button>
 </div>

 <!-- --------------------------- /New arrivals -------------------------->



<!-- --------------------------- Top Seller -------------------------->

<div class="container new-arrivals " style="margin-top: 70px;">

  <div class="d-flex justify-content-between align-items-center row">
    <div class="text col-12 col-sm-6 col-xl-10 col-lg-9 p-2">
      <span class="title" style="padding-top: 20px;">Top Seller</span>
      <span class="mini-title" style="padding-top: 20px;">see all</span>
    </div>
  </div>

</div>


<div class="top-seller procucts d-flex" style="width: 100%;">
  <div class="products-paginate container " style="margin-top: 70px;">
    <div class="row2 row py-2">
      <div class="col2  col-md-6 col-sm-12 col-12 col-xl-4 col-lg-6 py-2 d-flex justify-content-center" style="margin-bottom: 40px;position: relative;" *ngFor="let item of products">
        <app-card class="centered-card" [products]="item" [new]="false" [recommandations]="false"></app-card>
      </div>
    </div>
  </div>
</div>

 <!-- --------------------------- /Top Seller -------------------------->

<!-- --------------------------- Recommandations -------------------------->
<div class="container new-arrivals " style="margin-top: 70px;">

  <div class="d-flex justify-content-between align-items-center row">
    <div class="text col-12 col-sm-6 col-xl-10 col-lg-9 p-2">
      <span class="title" style="padding-top: 20px;">Recommended</span>
      <span class="mini-title" style="padding-top: 20px;">see all</span>
    </div>
  </div>

</div>

<div class="top-seller procucts d-flex" style="width: 100%;">
  <div class="products-paginate container " style="margin-top: 70px;">
    <div class="row2 row py-2">
      <div class="col2  col-md-6 col-sm-12 col-12 col-xl-4 col-lg-6 py-2 d-flex justify-content-center" style="margin-bottom: 40px;position: relative;" *ngFor="let item of productsRecommandations">
        <app-card-recommandation class="centered-card" [productsRecommandations]="item" [new]="false" [recommandations]="true"></app-card-recommandation>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------- /Recommandations -------------------------->

<!-- --------------------------- Reviews -------------------------->
<app-review></app-review>
*<!-- ---------------------------/Reviews -------------------------->


