.allSidebar {
	height: 100%;
	width: 100%;
    background-color: #E9E9E9;
	padding: 5px;
	scroll-behavior: smooth;
	.sidebar {
		transition: all 4s ease-in-out;
        border-radius: 10px;
		max-width: 350px;
		padding: 20px;
		margin: 5px;
		box-shadow: 0 20px 35px #1c4e801a;
		background-color: #1C4E80;
		.logo{
			text-align: center;
			margin-bottom: 50px;
			img{
				width: 80px;
				border-radius: 15px;
			}
		}
		ul li{
            list-style-type: none;
			padding: 15px 0;
            a{
                text-decoration: none;
                display: flex;
				align-items: center;
				gap: 15px;
                .icon{
                    color: #fff;
                    font-size: 25px;
                }
                .nav-item{
                    color: #fff;
					margin-top: 12px;
                }
            }
			.active{
				background-color: #fff;
				padding: 10px;
				border-radius: 12px;
					.icon{
						color: #272343;
					}
					.nav-item{
						color: #272343;
					}
			}
			.close_sidebar{
				position: absolute;
				cursor: pointer;
				bottom: 20px;
				margin-left: 35px;
			 }
        }


	}
}
.content {
	transition: all 4s ease-in-out;
	height: 100%;
}

.sidebar.close{
		transition: all 4s ease-in-out;
		a{
			margin-left: -10px;
			.nav-item{
				display: none;
			}
		}
		.close_sidebar{
			margin-left: -13px !important;
		 }

}

