<mat-drawer-container class="allSidebar" >
	<mat-drawer  [class]="OpenedSideBar ? 'sidebar' : 'sidebar close'" mode="side" opened="true">
			<div class="logo" >
				<img src="../../../assets/DIGITAL MARKET logo.png" alt="">
			</div>
			<ul>
				<li>
					<a  [routerLink]="['/fournisseurDash']" [ngClass]="{'active': current === '/fournisseurDash'}">
							<mat-icon class="icon">grid_view</mat-icon>
							<p  class="nav-item">
								Dashboard
							</p>
					</a>
				</li>
				 <li>
					<a [routerLink]="['/addProductFournisseur']" [ngClass]="{'active': current === '/addProductFournisseur'}" >
							<mat-icon class="icon">engineering</mat-icon>
							<p  class="nav-item">
								Add Product
							</p>
					</a>
				</li>
				<li>
					<a [routerLink]="['/ListProductsFournisseur']" [ngClass]="{'active': current === '/ListProductsFournisseur'}" >
							<mat-icon class="icon">engineering</mat-icon>
							<p  class="nav-item">
								Consult Products
							</p>
					</a>
				</li>
				<li>
					<a class="close_sidebar" (click)="OpenedSideBar=!OpenedSideBar">
							<mat-icon class="icon">
								{{OpenedSideBar ? 'arrow_left' : 'arrow_right'}}
							</mat-icon>
					</a>
				</li>
			</ul>
	</mat-drawer>
	<mat-drawer-content [ngStyle]="{'margin-left': OpenedSideBar ? '230px' : '130px'}">
		<ng-content  ></ng-content>
	</mat-drawer-content>
</mat-drawer-container>

